-- MySQL dump 10.16  Distrib 10.1.38-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: managemensekolah
-- ------------------------------------------------------
-- Server version	10.1.38-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `absensi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `siswa_id` int(11) NOT NULL,
  `mapel_id` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `sesi` int(11) NOT NULL,
  `status` enum('hadir','sakit','izin','alfa','terlambat','dinas') DEFAULT 'alfa',
  `keterangan` text,
  `waktu_absen` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `guru_id` int(11) NOT NULL,
  `metode_absen` enum('manual','qr_code','fingerprint','face_recognition') DEFAULT 'manual',
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `bukti_izin` varchar(255) DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_absensi` (`siswa_id`,`mapel_id`,`tanggal`,`sesi`),
  KEY `siswa_id` (`siswa_id`),
  KEY `mapel_id` (`mapel_id`),
  KEY `guru_id` (`guru_id`),
  KEY `fk_absensi_verified_by` (`verified_by`),
  KEY `idx_absensi_tanggal` (`tanggal`),
  KEY `idx_absensi_siswa` (`siswa_id`),
  KEY `idx_absensi_mapel` (`mapel_id`),
  KEY `idx_absensi_status` (`status`),
  KEY `idx_absensi_guru` (`guru_id`),
  KEY `idx_absensi_siswa_tanggal` (`siswa_id`,`tanggal`),
  CONSTRAINT `fk_absensi_mapel_id` FOREIGN KEY (`mapel_id`) REFERENCES `subjects` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_absensi_siswa_id` FOREIGN KEY (`siswa_id`) REFERENCES `students` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_absensi_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `activity` varchar(255) NOT NULL,
  `module` varchar(50) DEFAULT NULL,
  `action` varchar(50) DEFAULT NULL,
  `details` text,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text,
  `referrer` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `fk_activity_logs_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aktivitas_siswa`
--

DROP TABLE IF EXISTS `aktivitas_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aktivitas_siswa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `siswa_id` int(11) NOT NULL,
  `jenis_aktivitas` enum('absensi','prestasi','pelanggaran','perubahan') DEFAULT NULL,
  `deskripsi` text NOT NULL,
  `tanggal` date NOT NULL,
  `waktu` time NOT NULL,
  `created_by` int(11) DEFAULT NULL,
  `referensi_id` int(11) DEFAULT NULL,
  `referensi_tabel` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `siswa_id` (`siswa_id`),
  KEY `fk_aktivitas_siswa_created_by` (`created_by`),
  CONSTRAINT `fk_aktivitas_siswa_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_aktivitas_siswa_siswa_id` FOREIGN KEY (`siswa_id`) REFERENCES `students` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aktivitas_siswa`
--

LOCK TABLES `aktivitas_siswa` WRITE;
/*!40000 ALTER TABLE `aktivitas_siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `aktivitas_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `classes`
--

DROP TABLE IF EXISTS `classes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `classes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kode_kelas` varchar(10) NOT NULL,
  `nama_kelas` varchar(50) NOT NULL,
  `tingkat` enum('X','XI','XII') DEFAULT NULL,
  `jurusan` varchar(50) DEFAULT NULL,
  `wali_kelas_id` int(11) DEFAULT NULL,
  `kapasitas` int(11) NOT NULL DEFAULT '30',
  `ruangan` varchar(20) DEFAULT NULL,
  `tahun_ajaran` varchar(9) DEFAULT NULL,
  `semester` enum('ganjil','genap') DEFAULT 'ganjil',
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  PRIMARY KEY (`id`),
  UNIQUE KEY `kode_kelas` (`kode_kelas`),
  KEY `homeroom_teacher_id` (`wali_kelas_id`),
  CONSTRAINT `fk_classes_wali_kelas_id` FOREIGN KEY (`wali_kelas_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes`
--

LOCK TABLES `classes` WRITE;
/*!40000 ALTER TABLE `classes` DISABLE KEYS */;
INSERT INTO `classes` VALUES (1,'X-IPA-1','X IPA 1','X','IPA',2,30,NULL,'2024/2025','ganjil','aktif'),(2,'XI-IPS-1','XI IPS 1','XI','IPS',3,30,NULL,'2024/2025','ganjil','aktif'),(3,'XII-IPA-1','XII IPA 1','XII','IPA',4,30,NULL,'2024/2025','ganjil','aktif');
/*!40000 ALTER TABLE `classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jam_pelajaran`
--

DROP TABLE IF EXISTS `jam_pelajaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jam_pelajaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sesi` int(11) NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time NOT NULL,
  `keterangan` varchar(50) DEFAULT NULL,
  `jenis` enum('normal','istirahat','upacara','khusus') DEFAULT 'normal',
  `hari` enum('senin','selasa','rabu','kamis','jumat','sabtu','minggu','semua') DEFAULT 'semua',
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jam_pelajaran`
--

LOCK TABLES `jam_pelajaran` WRITE;
/*!40000 ALTER TABLE `jam_pelajaran` DISABLE KEYS */;
INSERT INTO `jam_pelajaran` VALUES (1,1,'07:00:00','07:45:00','Jam Ke-1','normal','semua','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(2,2,'07:45:00','08:30:00','Jam Ke-2','normal','semua','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(3,3,'08:30:00','09:15:00','Jam Ke-3','normal','semua','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(4,99,'09:15:00','09:45:00','Istirahat','istirahat','semua','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(5,4,'09:45:00','10:30:00','Jam Ke-4','normal','semua','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47');
/*!40000 ALTER TABLE `jam_pelajaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poin_kategori`
--

DROP TABLE IF EXISTS `poin_kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poin_kategori` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jenis` enum('prestasi','pelanggaran') DEFAULT NULL,
  `nama_kategori` varchar(100) NOT NULL,
  `deskripsi` text,
  `poin_min` int(11) DEFAULT '0',
  `poin_max` int(11) DEFAULT '0',
  `sanksi` text,
  `penghargaan` text,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poin_kategori`
--

LOCK TABLES `poin_kategori` WRITE;
/*!40000 ALTER TABLE `poin_kategori` DISABLE KEYS */;
INSERT INTO `poin_kategori` VALUES (1,'prestasi','Juara Kelas',NULL,50,100,NULL,NULL,'aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(2,'prestasi','Juara Lomba Sekolah',NULL,25,50,NULL,NULL,'aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(3,'pelanggaran','Terlambat Datang',NULL,5,10,NULL,NULL,'aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(4,'pelanggaran','Tidak Mengerjakan PR',NULL,10,20,NULL,NULL,'aktif','2026-01-10 06:43:47','2026-01-10 06:43:47'),(5,'pelanggaran','Merokok',NULL,100,100,NULL,NULL,'aktif','2026-01-10 06:43:47','2026-01-10 06:43:47');
/*!40000 ALTER TABLE `poin_kategori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poin_pelanggaran`
--

DROP TABLE IF EXISTS `poin_pelanggaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poin_pelanggaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `siswa_id` int(11) NOT NULL,
  `jenis_pelanggaran` enum('ringan','sedang','berat') DEFAULT NULL,
  `kategori_pelanggaran` varchar(100) DEFAULT NULL,
  `deskripsi` text NOT NULL,
  `poin` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `sanksi` text,
  `lokasi` varchar(100) DEFAULT NULL,
  `saksi` varchar(100) DEFAULT NULL,
  `ditindak_oleh` int(11) DEFAULT NULL,
  `status` enum('pending','ditindak','selesai') DEFAULT 'pending',
  `tindak_lanjut` text,
  `follow_up_by` int(11) DEFAULT NULL,
  `follow_up_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `siswa_id` (`siswa_id`),
  KEY `ditindak_oleh` (`ditindak_oleh`),
  KEY `follow_up_by` (`follow_up_by`),
  KEY `idx_poin_pelanggaran_siswa` (`siswa_id`),
  KEY `idx_poin_pelanggaran_tanggal` (`tanggal`),
  KEY `idx_poin_pelanggaran_status` (`status`),
  CONSTRAINT `fk_poin_pelanggaran_ditindak_oleh` FOREIGN KEY (`ditindak_oleh`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_poin_pelanggaran_follow_up_by` FOREIGN KEY (`follow_up_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_poin_pelanggaran_siswa_id` FOREIGN KEY (`siswa_id`) REFERENCES `students` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poin_pelanggaran`
--

LOCK TABLES `poin_pelanggaran` WRITE;
/*!40000 ALTER TABLE `poin_pelanggaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `poin_pelanggaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poin_prestasi`
--

DROP TABLE IF EXISTS `poin_prestasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poin_prestasi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `siswa_id` int(11) NOT NULL,
  `jenis_prestasi` enum('akademik','non-akademik','sosial','olahraga') DEFAULT 'akademik',
  `kategori` enum('prestasi','penghargaan','lomba','kejuaraan') DEFAULT 'prestasi',
  `nama_prestasi` varchar(200) NOT NULL,
  `deskripsi` text,
  `tingkat` enum('sekolah','kecamatan','kabupaten','provinsi','nasional','internasional') DEFAULT NULL,
  `peringkat` enum('juara_1','juara_2','juara_3','harapan_1','harapan_2','harapan_3','partisipasi') DEFAULT 'partisipasi',
  `poin` int(11) NOT NULL,
  `tanggal` date NOT NULL,
  `penyelenggara` varchar(100) DEFAULT NULL,
  `lokasi` varchar(100) DEFAULT NULL,
  `keterangan` text,
  `dokumen` varchar(255) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `siswa_id` (`siswa_id`),
  KEY `created_by` (`created_by`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_poin_prestasi_siswa` (`siswa_id`),
  KEY `idx_poin_prestasi_tanggal` (`tanggal`),
  KEY `idx_poin_prestasi_status` (`status`),
  CONSTRAINT `fk_poin_prestasi_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_poin_prestasi_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_poin_prestasi_siswa_id` FOREIGN KEY (`siswa_id`) REFERENCES `students` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poin_prestasi`
--

LOCK TABLES `poin_prestasi` WRITE;
/*!40000 ALTER TABLE `poin_prestasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `poin_prestasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `points_master`
--

DROP TABLE IF EXISTS `points_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `points_master` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` enum('prestasi','pelanggaran') NOT NULL,
  `description` varchar(255) NOT NULL,
  `points` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `points_master`
--

LOCK TABLES `points_master` WRITE;
/*!40000 ALTER TABLE `points_master` DISABLE KEYS */;
INSERT INTO `points_master` VALUES (1,'pelanggaran','Terlambat Masuk Sekolah',5),(2,'pelanggaran','Tidak Mengerjakan Tugas',10),(3,'pelanggaran','Bolos Pelajaran',20),(4,'prestasi','Juara Kelas',50),(5,'prestasi','Menang Lomba Tingkat Sekolah',30);
/*!40000 ALTER TABLE `points_master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_settings`
--

DROP TABLE IF EXISTS `schedule_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_settings` (
  `setting_key` varchar(50) NOT NULL,
  `setting_value` varchar(255) NOT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_settings`
--

LOCK TABLES `schedule_settings` WRITE;
/*!40000 ALTER TABLE `schedule_settings` DISABLE KEYS */;
INSERT INTO `schedule_settings` VALUES ('lesson_duration_minutes','45'),('school_end_time','15:00'),('school_start_time','07:00');
/*!40000 ALTER TABLE `schedule_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kelas_id` int(11) NOT NULL,
  `mapel_id` int(11) NOT NULL,
  `guru_id` int(11) NOT NULL,
  `tahun_ajaran` varchar(9) NOT NULL,
  `semester` enum('ganjil','genap') NOT NULL,
  `ruangan` varchar(20) DEFAULT NULL,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `hari` enum('Senin','Selasa','Rabu','Kamis','Jumat','Sabtu') DEFAULT NULL,
  `sesi` int(11) NOT NULL,
  `room` varchar(50) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `class_id` (`kelas_id`),
  KEY `subject_id` (`mapel_id`),
  KEY `teacher_id` (`guru_id`),
  KEY `idx_jadwal_kelas_hari` (`hari`),
  KEY `idx_jadwal_kelas_kelas` (`kelas_id`),
  KEY `idx_jadwal_kelas_guru` (`guru_id`),
  KEY `idx_guru` (`guru_id`),
  CONSTRAINT `fk_schedules_guru_id` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_schedules_kelas_id` FOREIGN KEY (`kelas_id`) REFERENCES `classes` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_schedules_mapel_id` FOREIGN KEY (`mapel_id`) REFERENCES `subjects` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester`
--

DROP TABLE IF EXISTS `semester`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semester` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran` varchar(9) NOT NULL,
  `semester` enum('ganjil','genap') DEFAULT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `status` enum('aktif','selesai','akan_datang') DEFAULT 'akan_datang',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_semester` (`tahun_ajaran`,`semester`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester`
--

LOCK TABLES `semester` WRITE;
/*!40000 ALTER TABLE `semester` DISABLE KEYS */;
INSERT INTO `semester` VALUES (1,'2024/2025','ganjil','2024-07-01','2024-12-31','selesai','2026-01-10 06:43:47','2026-01-10 06:43:47'),(2,'2024/2025','genap','2025-01-01','2025-06-30','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47');
/*!40000 ALTER TABLE `semester` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text,
  `setting_group` varchar(50) DEFAULT 'general',
  `setting_type` enum('text','number','boolean','json','date','time') DEFAULT 'text',
  `label` varchar(100) DEFAULT NULL,
  `description` text,
  `options` text,
  `is_public` tinyint(1) DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_points`
--

DROP TABLE IF EXISTS `student_points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_points` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` int(11) NOT NULL,
  `point_master_id` int(11) NOT NULL,
  `date` date NOT NULL,
  `notes` text,
  `recorded_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `point_master_id` (`point_master_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_points`
--

LOCK TABLES `student_points` WRITE;
/*!40000 ALTER TABLE `student_points` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) NOT NULL,
  `nisn` varchar(20) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT 'L',
  `tempat_lahir` varchar(50) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `agama` varchar(20) DEFAULT NULL,
  `no_telepon` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `alamat` text,
  `rt_rw` varchar(10) DEFAULT NULL,
  `kelurahan` varchar(50) DEFAULT NULL,
  `kecamatan` varchar(50) DEFAULT NULL,
  `kota` varchar(50) DEFAULT NULL,
  `provinsi` varchar(50) DEFAULT NULL,
  `kode_pos` varchar(10) DEFAULT NULL,
  `nama_ayah` varchar(100) DEFAULT NULL,
  `pekerjaan_ayah` varchar(50) DEFAULT NULL,
  `nama_ibu` varchar(100) DEFAULT NULL,
  `pekerjaan_ibu` varchar(50) DEFAULT NULL,
  `kelas_id` int(11) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `status` enum('aktif','alumni','pindah','keluar','dropout') DEFAULT 'aktif',
  `tahun_masuk` year(4) DEFAULT NULL,
  `tahun_keluar` year(4) DEFAULT NULL,
  `total_poin_prestasi` int(11) DEFAULT '0',
  `total_poin_pelanggaran` int(11) DEFAULT '0',
  `no_telepon_ortu` varchar(15) DEFAULT NULL,
  `address` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nis` (`nis`),
  UNIQUE KEY `nisn` (`nisn`),
  KEY `class_id` (`kelas_id`),
  KEY `idx_siswa_kelas` (`kelas_id`),
  KEY `idx_siswa_status` (`status`),
  CONSTRAINT `fk_students_kelas_id` FOREIGN KEY (`kelas_id`) REFERENCES `classes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subjects`
--

DROP TABLE IF EXISTS `subjects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subjects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_mapel` varchar(100) NOT NULL,
  `kategori` enum('umum','jurusan','peminatan','ekstrakurikuler') DEFAULT 'umum',
  `tingkat` enum('X','XI','XII','semua') DEFAULT 'semua',
  `jurusan` varchar(50) DEFAULT NULL,
  `kode_mapel` varchar(10) NOT NULL,
  `guru_id` int(11) DEFAULT NULL,
  `kelas_id` int(11) DEFAULT NULL,
  `semester` enum('ganjil','genap','tahunan') DEFAULT 'tahunan',
  `tahun_ajaran` varchar(9) DEFAULT NULL,
  `jam_per_minggu` int(11) DEFAULT '2',
  `deskripsi` text,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `teacher_id` (`guru_id`),
  KEY `fk_subjects_kelas_id` (`kelas_id`),
  CONSTRAINT `fk_subjects_guru_id` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_subjects_kelas_id` FOREIGN KEY (`kelas_id`) REFERENCES `classes` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subjects`
--

LOCK TABLES `subjects` WRITE;
/*!40000 ALTER TABLE `subjects` DISABLE KEYS */;
/*!40000 ALTER TABLE `subjects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tahun_ajaran`
--

DROP TABLE IF EXISTS `tahun_ajaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tahun_ajaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tahun_ajaran` varchar(9) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `status` enum('aktif','selesai','akan_datang') DEFAULT 'akan_datang',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_tahun_ajaran` (`tahun_ajaran`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tahun_ajaran`
--

LOCK TABLES `tahun_ajaran` WRITE;
/*!40000 ALTER TABLE `tahun_ajaran` DISABLE KEYS */;
INSERT INTO `tahun_ajaran` VALUES (1,'2023/2024','2023-07-01','2024-06-30','selesai','2026-01-10 06:43:47','2026-01-10 06:43:47'),(2,'2024/2025','2024-07-01','2025-06-30','aktif','2026-01-10 06:43:47','2026-01-10 06:43:47');
/*!40000 ALTER TABLE `tahun_ajaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama_lengkap` varchar(100) NOT NULL,
  `jenis_kelamin` enum('L','P') DEFAULT 'L',
  `nip` varchar(30) DEFAULT NULL,
  `tempat_lahir` varchar(50) DEFAULT NULL,
  `tanggal_lahir` date DEFAULT NULL,
  `alamat` text,
  `no_telepon` varchar(15) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','guru') DEFAULT 'guru',
  `jabatan` varchar(100) DEFAULT NULL,
  `bidang_studi` varchar(100) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `status` enum('aktif','nonaktif','pensiun','pindah') DEFAULT 'aktif',
  `last_login` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `nip` (`nip`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-10 16:01:55
